Repository Tienda-Web/Proyecto.Tienda, pull requests merged in 2025-02, with the labels that each got.

#3 clase header y navbar
  src/App.js
  src/Header.js
  src/components/Navbar.js
Labels: HTML, CSS, JavaScript

#4 Branch lks
  src/App.css
  src/App.js
  src/Producto.js
  src/components/Carrito.css
  src/components/Carrito.js
  src/components/Navbar.css
  src/components/Navbar.js
Labels: HTML, CSS, JavaScript

#5 cambio de stilo en app.css
  src/App.css
Labels: CSS

#6 [UPD] App.css, App.js, Producto.css
  src/App.css
  src/App.js
  src/Producto.css
Labels: documentation, CSS

#13 cambio fronted navbar y login
  frontend/src/components/Navbar.js
  frontend/src/pages/Login.js
  frontend/src/styles/Login.css
  frontend/src/styles/Navbar.css
Labels: HTML, CSS, JavaScript
